<div class="card w-100 my-2">
    <div class="card-title d-flex justify-content-between px-2">
        <h2><img src="/images/{{iso}}.gif" alt="{{country}} flag">{{iso}} {{city}}, {{country}}</h2>
        <div class="card-body">{{format_date date_start}} to {{format_date date_end}}</div>
        <a href="/api/destinations/{{id}}">Delete</a>
    </div>
</div>