<div class="card col-11 my-2 destcard">
    <div class="card-title d-flex justify-content-between px-2 ">
        <h2> <img src="https://flagcdn.com/32x24/{{lc iso}}.png" srcset="https://flagcdn.com/64x48/{{lc iso}}.png 2x,
    https://flagcdn.com/96x72/{{lc iso}}.png 3x" width="32" height="24" alt="{{country}}">&nbsp;{{city}},
            {{country}}&nbsp; <img src="https://flagcdn.com/32x24/{{lc iso}}.png" srcset="https://flagcdn.com/64x48/{{lc iso}}.png 2x,
    https://flagcdn.com/96x72/{{lc iso}}.png 3x" width="32" height="24" alt="{{country}}"></h2>
        <hr width="80%">
        <div class="card-body">{{format_date date_start}} to {{format_date date_end}}</div>
        {{{getWeather city country date_start}}}
        <hr width="80%">
        <a href="/api/destinations/delete/{{id}}"><img src="/images/delete.png"
                alt="delete {{destination}} from trip"></a>
    </div>
</div>